.phone {
  background-image: url('../images/iphone-frame.png');
  background-size: cover;
  background-position: center;
  width: 19.5vw
    /* width of the iPhone image */
  ;
  height: 40vw
    /* height of the iPhone image */
  ;
  position: relative;
  background-color: rgba(255, 255, 255, 0.884);
  margin-left: auto;
  margin-right: auto;
  border-radius: calc(26px + 2.4vh);
  margin-top: 3%;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.65);
  background-blend-mode: normal;
  min-width: 246px;
  min-height: 500px;
  overflow: hidden;
}

.phone-screen {
  position: absolute;
  top: 6.42%;
  /* Adjust this value based on the position of the screen area */
  left: 8.0%;
  /* Adjust this value based on the position of the screen area */
  width: 84.1%;
  /* Adjust this value based on the width of the screen area */
  height: 90.0%;
  /* Adjust this value based on the height of the screen area */
  overflow: auto;
  /* adjust padding as needed */
  background-color: rgba(255, 255, 255, 0.884);
  border-radius: 5%;
  background-blend-mode: hard-light;

  overflow: hidden;
}

body {
  background-image: url('../images/white-abstract-background.jpg');
  background-size: cover;

}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Ensure the container covers the full viewport height */
  overflow: hidden;
  /* Hide content that goes beyond the viewport */
}


.profile-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 5%
    /* Distance from the top edge of the phone screen */
  ;
  width: 100%;
  /* Ensure the container takes the full width of the phone screen */
  flex-direction: column;
  align-items: center;

}

.profile-image {
  border-radius: 50%;
  /* Create a circular shape */
  width: 55%
    /* desired width */
  ;
  height: 50%
    /* desired height, should be equal to width */
  ;
  object-fit: cover;
  /* Preserve aspect ratio and avoid distortion */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);

}

.personal-logo {
  width: 30%
    /* desired width */
  ;
  height: 20%
    /* desired height, should be equal to width */
  ;
  object-fit: cover;
  /* Preserve aspect ratio and avoid distortion */
  background-blend-mode: lighten;

}

.info-role {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  color: grey;
  text-align: center;
  margin: 0;
  padding: 0vw 0.0vw 0.5vw 0vw;
  border-bottom: 1px solid rgb(179, 179, 179);

}
.about-header {
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Montserrat', 'sans-serif';
  color: grey;
  font-weight: 400;
  
}


h1 {
  font-family: 'Montserrat', sans-serif;
  color: #D7263D;
  font-size: 1.7vw;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 1vw 0.5vw 0vw 0vw;
}

h1 span {
  font-family: 'Montserrat', sans-serif;
  color: #1F4068;
  font-size: 1.7vw;
  font-weight: bold;
}


p {
  padding-left: 1vh;
  font-family: 'Monterrat', sans-serif;
  font-weight: 200;
  font-size: 0.9vw;
}

.linkedin-app {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  margin-right: 1vh;
}

.email-app {
  width: 10%;
  height: 10%;
  vertical-align: middle;
  margin-right: 1vh;

}

.phone-app {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  vertical-align: middle;
  margin-right: 1vh;
}



.contact-info {
  border-left: 2px solid rgb(37, 39, 51);
  border-left-style: dashed;
  margin-left: 2vh;
  padding-left: 0.5vw;
  border-left-style: ridge;
}

.about-header {
  padding-top: 1.5vh;
  border-top: 1px solid rgb(179, 179, 179);
}
.about-blurb {
  font-style: italic;
  font-size: 1.7vh;
}



.footer {
  text-align: center; 
  padding-top: 10vh;
}